baseURL = "http://example.org/"
languageCode = "en-us"
title = "Johnny Matthews"
theme = "overly-orange"
pluralizelisttitles = "false"
[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    hl_Lines = ""
    lineAnchors = ""
    lineNoStart = 1
    lineNos = false
    lineNumbersInTable = true
    noClasses = true
    style = "monokai"
    tabWidth = 4