<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Define title. -->
    {{ $title := print .Site.Title " | " .Title }} 
    {{ if .IsHome }} {{ $title = .Site.Title }} {{ end }}
    <title>{{ $title }}</title>

    <link rel="shortcut icon" type="image/icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Highlight.js -->
    <!-- https://github.com/highlightjs/highlight.js -->
    <link rel="stylesheet" href="/css/highlightjs.min.css">
    <script src="/js/highlightjs.min.js"></script>
    <script>hljs.highlightAll();</script>
</head>
