{{ define "main" }}
    <h1><a class="hidden-link" href="/">{{ .Site.Title}}</a> | <span class="light-weight"><a class="hidden-link" href="/blog">{{ .Title }}</a></span></h1>
    <article>
        <section class="blog-intro">
            {{ .Description }} This was written on {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }} of {{ .Date.Format "January 2006" }}.
        </section>
        <main>
            {{ .Content }}
        </main>
    </article>
{{ end }}
