{{ define "main" }}
    <h1 class="homepage-title">Johnny Matthews</h1>
    <p>I learn stuff and teach other people that stuff. I explain technical things. I work for Protocol Labs. I make crappy websites, like this one. I <a href="/blog">write articles about things that interest me</a>. I think the web should be less centralized. I make terrible music no one should listen to. I drink unhealthy amounts of Yorkshire tea. I'm <a href="https://keybase.io/johnnymatthews">available for pints</a> if you need a drinking buddy.</p>
{{ end }}
