{{ define "main" }}
    <h1>Johnny Matthews</h1>
    <p>I learn stuff and teach other people that stuff. I explain techincal things. I work for Protocol Labs. I make crappy websites like this one. I <a href="/blog">write articles about things that interest me</a>, but likely mean nothing to anyone else. I'm working to decentralize the web. I make terrible music no one should listen to. I drink unhealthy amount of Yorkshire tea. I'm aware that this is <i>a lot</i> of orange. I'm <a href="https://keybase.io/johnnymatthews">available for pints</a> if you need a drinking buddy.</p>
    <img onclick="hide_element(this)" src="/headshot.png">
{{ end }}